* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Fonts */

@font-face {
	font-family: 'Source Sans 3';
	src: url('fonts/sourcesans3/SourceSans3-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Readex';
	src: url('fonts/readex/ReadexPro-VariableFont_wght.ttf');
}

/* Body */

body {
	font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
}

/*
Only used for Mr Padgham's Christmas button
*/

.navbar {
	height: 75px;
	width: 100%;
	display: block;
	position: fixed;
	background-color: darkred;
	color: white;
}

.navbar h4 a {
	line-height: 75px;
	font-size: 25pt;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Readex', Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a {
	line-height: 75px;
	font-size: 25pt;
	color: white;
	text-decoration: none;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
}

.navbar a:hover, .navbar h4:hover {
	background-color: #5f0000;
}

/*

MAIN PAGE

*/

div.page {
	padding-top: 75px;
}

body div.body div.page div.big-promo-img {
	width: 100%;
	display: block;
	height: 60vh;
	background-image: url('https://imgr.search.brave.com/EhASRdZJdhejfRr323T7UWPdm9EhZ_CVkgMcz0ve6vI/fit/1024/683/ce/1/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vcGhvdG9z/L21hdGgtdGVhY2hl/ci1waWN0dXJlLWlk/NTEwMjIxMTI4');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -60px;
}

div.promo-text {
	float: right;
	background: #7a0000be;
	height: 100%;
}

div#promo-text-centered {
	padding: 50px;
	padding-top: 70px;
}

div.promo-text h1 {
	font-family: 'Readex', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 75pt;
	text-align: right;
	color: #ffffff;
}

div.promo-text p {
	font-size: 40pt;
	color: #ffffff;
	text-align: right;
}